/*Reset defolt style and normalize element============================*/
@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-o-viewport {
  width: device-width;
  initial-scale: 1;
}
@viewport {
  width: device-width;
  initial-scale: 1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

input,
input[type=text i],
input[type=email i] {
  padding: 0px;
  margin: 0;
  border-width: 0px;
  display: block;
  text-align: start;
  border-color: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font: normal 400 16px/1.5 "Roboto";
  color: var(--color_primary);
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font: normal 400 16px/1.5 "Roboto";
  color: var(--color_primary);
  min-width: 340px;
  padding: 0 15px;
  background-color: var(--color_baground);
  scroll-behavior: smooth;
}

mark {
  color: var(--color_secondary);
}

a {
  color: #333;
}

b,
strong {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7 {
  contain: layout paint;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cac8c8;
}

::-webkit-scrollbar:hover {
  height: 4px;
}

/*Variables project==========================================*/
:root {
  /* Color theme*/
  --color_base: #ffff;
  --color_primary: #333;
  --color_secondary: #EF1019;
  --color_baground: #F2F2F2;
  --color_grey: #9C9797;
  /* Color btn*/
  --color_btn_primary: #242323;
  --color_btn_primary_hover: #EF1019;
  --color_btn_primary_border: #242323;
  --color_btn_secondary: #242323;
  --color_btn_secondary_hover: #EF1019;
  --color_btn_secondary_border: #242323;
  /* Color text*/
  --color_title: #24292f;
  --color_subtitle: #57606a;
  --color_paragraf: #24292f;
  /* Text fonts*/
  --text_title: 600 clamp(1.37rem, 1.0735rem + 1.3953vw, 2.12rem)/1.3 "Roboto";
  --text_title_2: 600 clamp(1.12rem, 0.9698rem + 0.7070vw, 1.5rem)/1.3 "Roboto";
  --text_title_3: 600 clamp(1.12rem, 1.0212rem + 0.4651vw, 1.37rem)/1.3 "Roboto";
  --text_paragraf: 400 clamp(1rem, 0.8537rem + 0.6884vw, 1.37rem)/1.5 "Roboto";
  --text_paragraf_2: 400 clamp(0.87rem, 0.7198rem + 0.7070vw, 1.25rem)/1.5 "Roboto";
  --text_bullet: 400 clamp(1rem, 0.9012rem + 0.4651vw, 1.25rem)/1.5 "Roboto";
  --text_tag: 400 clamp(0.93rem, 0.8549rem + 0.3535vw, 1.12rem)/1.1 "Roboto";
  --text_card_level: 400 clamp(1rem, 0.9012rem + 0.4651vw, 1.25rem)/1.5 "Roboto";
  --text_nav-item: 400 18px/1.5 "Roboto";
  --text_btn: 500 16px/1.5 "Roboto";
  --text_price_title: 400 clamp(1.25rem, 1.1037rem + 0.6884vw, 1.62rem)/1.3 "Roboto";
  --text_price_value: 600 clamp(1.12rem, 0.9698rem + 0.7070vw, 1.5rem)/1.5 "Roboto";
  --text_price_month: 400 clamp(0.93rem, 0.8035rem + 0.5953vw, 1.25rem)/1.5 "Roboto";
  /* Radius */
  --radius: 12px;
  --radius_tag: 50px;
  --radius_card: 12px;
}

/*Add local fonts==========================================*/
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("/fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("/fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
}
/* Properties text===========================================*/
.title {
  font: var(--text_title);
}

.title-2 {
  font: var(--text_title_2);
}

.title-3 {
  font: var(--text_title_3);
}

.paragraf {
  font: var(--text_paragraf);
}

.paragraf-2 {
  font: var(--text_paragraf_2);
}

.desc {
  font: 400 14px/1.5 "Roboto";
  color: var(--color_grey);
}

.title--width {
  max-width: 250px;
}

.title-3--white {
  color: var(--color_base);
}

.paragraf--margin {
  margin-bottom: 30px;
}

.paragraf--white {
  color: var(--color_base);
}

.paragraf-size {
  font-size: 16px;
}

@media (min-width: 576px) {
  .title--align {
    text-align: center;
  }

  .title--width {
    max-width: 300px;
  }

  .paragraf--align {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .title--width {
    max-width: 350px;
  }

  .paragraf--width {
    max-width: 600px;
  }

  .paragraf-size {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .title--width {
    max-width: 450px;
  }

  .paragraf-size {
    font-size: 20px;
  }
}
/* Button box properties =========================================*/
.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

/* Button primary */
.btn-primary {
  cursor: pointer;
  width: 280px;
  height: 55px;
  font: 500 16px/1.5 "Roboto";
  border-radius: var(--radius);
  border-width: 1px;
  border-style: solid;
  color: var(--color_base);
  border-color: var(--color_primary);
  background-color: var(--color_btn_primary);
}

.btn-primary:hover {
  border-color: var(--color_btn_primary_hover);
  background-color: var(--color_btn_primary_hover);
}

.btn-primary--width {
  width: 100%;
}

.btn-primary--white {
  color: var(--color_primary);
  background-color: var(--color_base);
}

.btn-primary--white:hover {
  color: var(--color_base);
}

.btn-primary--price {
  color: var(--color_primary);
  background-color: var(--color_base);
}

.btn-primary--price:hover {
  color: var(--color_base);
}

/* Button secondary */
.btn-secondary {
  cursor: pointer;
  width: 280px;
  height: 55px;
  font: 500 16px/1.5 "Roboto";
  border-radius: var(--radius);
  border-width: 1px;
  border-style: solid;
  color: var(--color_primary);
  border-color: var(--color_btn_secondary);
}

.btn-secondary:hover {
  color: var(--color_base);
  border-color: var(--color_btn_secondary_hover);
  background-color: var(--color_btn_secondary_hover);
}

.btn-secondary--width {
  width: 100%;
}

@media (min-width: 576px) {
  .button-box--align {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .button-box--card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .btn--card {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .btn-primary--sm {
    width: 130px;
    height: 45px;
  }

  .btn-secondary--display {
    display: none;
  }
}
@media (min-width: 992px) {
  .btn-primary--width {
    width: 210px;
  }

  .btn-primary--card {
    width: 150px;
  }

  .button-box--price {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/* Properties bullet box ========================================*/
.bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
}
.bullet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font: var(--text_bullet);
}
.bullet__item::before {
  display: inline-block;
  content: " ";
  min-width: 20px;
  min-height: 20px;
  background: url(/img/icon_star_24x24.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.bullet__item--white {
  color: var(--color_base);
}

.bullet--margin {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .bullet {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bullet--flow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
@media (min-width: 1200px) {
  .bullet {
    gap: 50px;
  }

  .bullet--flow {
    gap: 15px;
  }

  .bullet__item {
    max-width: 360px;
  }

  .bullet__item--width {
    max-width: 100%;
  }

  .bullet__item::before {
    min-width: 24px;
    min-height: 24px;
  }
}
/* Properties tag ===============================================*/
.tag {
  max-height: 41px;
  padding: 0.5em 1em;
  border-radius: var(--radius_tag);
  background-color: var(--color_baground);
  font: var(--text_tag);
  color: var(--color_grey);
}

/* Properties header============================== */
.header {
  width: 100%;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  margin: 10px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Logo */
.logo,
.logo__img {
  display: block;
}

/* Burger menu */
.header__burger-checkbox {
  display: none;
}

.header__burger-label {
  position: relative;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 25px;
}

.header__burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--color_primary);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.burger-line-2 {
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-line-3 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-line-4 {
  top: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-1 {
  opacity: 0;
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-2 {
  opacity: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-4 {
  opacity: 0;
}

.header__burger-checkbox:checked ~ .header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Submenu container */
.header__menu-container {
  contain: paint;
  position: absolute;
  top: 45px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
  padding: 15px;
  z-index: 10;
  background-color: var(--color_baground);
}

/* Navigation item */
.header__nav {
  margin: 0 auto;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 20px;
}

.header__nav-item {
  display: block;
  font: var(--text_nav-item);
  color: var(--color_primary);
  text-align: center;
  padding: 10px 20px;
  border-radius: var(--radius);
}

.header__nav-item:hover {
  font-weight: 500;
  background-color: var(--color_base);
}

/* Huperlink button container */
.header__button-containet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__phone,
.header__auth {
  display: none;
}

@media (min-width: 768px) {
  .header__content {
    margin: 25px 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header__burger-label {
    display: none;
  }

  .header__menu-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  /* Navigation properties */
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin-top: 0px;
  }

  .header__nav-list li:nth-child(4),
.header__nav-list li:nth-child(5) {
    display: none;
  }
}
@media (min-width: 992px) {
  /* Add screen element button phone */
  .header__phone {
    display: block;
    margin-right: 20px;
    padding: 10px 20px;
    font: var(--text_nav-item);
    color: var(--color_primary);
    white-space: nowrap;
    border-radius: var(--radius);
  }

  .header__phone::before {
    display: inline-block;
    content: " ";
    min-width: 16px;
    min-height: 16px;
    margin-right: 10px;
    background: url(/img/header-icon__phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  .header__phone:hover {
    font-weight: 500;
    background-color: var(--color_base);
  }
}
@media (min-width: 1200px) {
  .header__content {
    margin: 30px 0;
  }

  .logo,
.logo__img {
    width: 190px;
  }

  .header__phone {
    margin-right: 0px;
  }

  /* Add screen element button auth */
  .header__auth {
    display: block;
    margin-right: 20px;
    padding: 10px 20px;
    font: var(--text_nav-item);
    color: var(--color_primary);
    white-space: nowrap;
    border-radius: var(--radius);
  }

  .header__auth::before {
    display: inline-block;
    content: " ";
    min-width: 16px;
    min-height: 16px;
    margin-right: 10px;
    background: url(/img/header-icon__auth.svg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }

  .header__auth:hover {
    font-weight: 500;
    background-color: var(--color_base);
  }
}
/* Properties section-1 =================================== */
.section-1 {
  margin-bottom: 50px;
}

.section-1__content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 30px 15px;
  border-radius: var(--radius);
  background-color: var(--color_base);
}

/* Properties row-1 */
.section-1__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 30px;
  gap: 30px;
}

/* Properties row 1 */
.section-1__img {
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-1__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 15px;
}

.section-1__paragraf {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .section-1__content {
    padding: 30px 20px;
  }

  .section-1__img {
    width: 360px;
    height: 260px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
@media (min-width: 768px) {
  .section-1__content {
    padding: 20px;
  }

  .section-1__row-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    gap: 0px;
  }

  .section-1__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section-1__text-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 992px) {
  .section-1 {
    margin-bottom: 100px;
  }

  .section-1__content {
    padding: 50px 30px;
  }

  .section-1__img {
    width: 460px;
    height: 330px;
    margin: 0 auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  /* Text box */
  .section-1__title {
    max-width: 600px;
  }

  .section-1__paragraf {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .section-1__row-1 {
    margin-bottom: 50px;
  }

  .section-1__img {
    width: 550px;
    height: 390px;
    margin: 0 auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}