/* Properties header============================== */
.header {
   width: 100%;
}
.header__content {
   position: relative;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 45px;
   margin: 10px 0;
   transition: 0.2s;
}


/* Logo */
.logo,
.logo__img {
   display: block;
}


/* Burger menu */
.header__burger-checkbox {
   display: none;
}
.header__burger-label {
   position: relative;
   display: block;
   cursor: pointer;
   width: 35px;
   height: 25px;
}
.header__burger-line {
   position: absolute;
   display: block;
   width: 100%;
   height: 3px;
   border-radius: 3px;
   background-color: var(--color_primary);
   transition: 0.2s;
}
.burger-line-2 {
   opacity: 0;
   top: 50%;
   transform: translateY(-50%);
}
.burger-line-3 {
   top: 50%;
   transform: translateY(-50%);
}
.burger-line-4 {
   top: 100%;
   transform: translateY(-3px);
}
.header__burger-checkbox:checked ~
.header__burger-label
.burger-line-1 {
   opacity: 0;
}
.header__burger-checkbox:checked ~
.header__burger-label
.burger-line-2 {
   opacity: 100%;
   transform: rotate(45deg);
}
.header__burger-checkbox:checked ~
.header__burger-label
.burger-line-3 {
   transform: rotate(-45deg);
}
.header__burger-checkbox:checked ~
.header__burger-label
.burger-line-4 {
   opacity: 0;
}
.header__burger-checkbox:checked ~
.header__menu-container {
   display: flex;
}


/* Submenu container */
.header__menu-container {
   contain: paint;
   position: absolute;
   top: 45px;
   display: none;
   flex-flow: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 500px;
   padding: 15px;
   z-index: 10;
   background-color: var(--color_baground);
}


/* Navigation item */
.header__nav {
   margin: 0 auto;
}
.header__nav-list {
   display: flex;
   flex-flow: column;
   margin-top: 20px;
}
.header__nav-item {
   display: block;
   font:  var(--text_nav-item);
   color: var(--color_primary);
   text-align: center;
   padding: 10px 20px;
   border-radius: var(--radius);
}
.header__nav-item:hover {
   font-weight: 500;
   background-color: var(--color_base);
}


/* Huperlink button container */
.header__button-containet {
   display: flex;
}
.header__phone,
.header__auth {
   display: none;
}


@media (min-width: 768px) {
   .header__content {
      margin: 25px 0;
      transition: 0.2s;
   }
   .header__burger-label {
      display: none;
   }
   .header__menu-container {
      position: static;
      display: flex;
      flex-flow: row;
      width: 100%;
      height: 100%;
      padding: 0;
   }
   /* Navigation properties */
   .header__nav-list {
      flex-flow: row;
      margin-top: 0px;
   }
   .header__nav-list li:nth-child(4),
   .header__nav-list li:nth-child(5) {
      display: none;
   }
}
@media (min-width: 992px) {
   /* Add screen element button phone */
   .header__phone {
      display: block;
      margin-right: 20px;
      padding: 10px 20px;
      font: var(--text_nav-item);
      color: var(--color_primary);
      white-space: nowrap;
      border-radius: var(--radius);
   }
   .header__phone::before{
      display: inline-block;
      content: ' ';
      min-width: 16px;
      min-height: 16px;
      margin-right: 10px;
      background: url(/img/header-icon__phone.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(15%);
   }
   .header__phone:hover {
      font-weight: 500;
      background-color: var(--color_base);
   }
}
@media (min-width: 1200px) {
   .header__content {
      margin: 30px 0;
   }
   .logo,
   .logo__img {
      width: 190px;
   }
   .header__phone {
      margin-right: 0px;
   }
   /* Add screen element button auth */
   .header__auth {
      display: block;
      margin-right: 20px;
      padding: 10px 20px;
      font: var(--text_nav-item);
      color: var(--color_primary);
      white-space: nowrap;
      border-radius: var(--radius);
   }
   .header__auth::before{
      display: inline-block;
      content: ' ';
      min-width: 16px;
      min-height: 16px;
      margin-right: 10px;
      background: url(/img/header-icon__auth.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(15%);
   }
   .header__auth:hover {
      font-weight: 500;
      background-color: var(--color_base);
   }
}