<footer class="footer">
   <div class="container">
      <div class="footer__header">
         <div class="footer__box-1">
            <p class="footer__contact">Контакты и соцсети</p>
            <a class="footer__number" href="tel:+380678880555">+38 (067) 888-05-55</a>
            <a class="footer__mail" href="mailto:info@english-bro.com">info@english-bro.com</a>
            <div class="footer__social-box">
               <a class="footer__social" href="https://www.facebook.com/slava.zhuravlev.94/">
                  <img class="footer__icon" src="/img/svg/footer__fb.svg" loading="lazy" alt="Фейсбук" width="25" height="25" />
               </a>
               <a class="footer__social" href="https://www.instagram.com/your_english_bro/">
                  <img class="footer__icon" src="/img/svg/footer__inst.svg" loading="lazy" alt="Фейсбук" width="25" height="25" />
               </a>
               <a class="footer__social" href="https://t.me/your_english_bro">
                  <img class="footer__icon" src="/img/svg/footer__tg.svg" loading="lazy" alt="Фейсбук" width="25" height="25" />
               </a>
            </div>
            <p class="footer__time">Работаю и принимаю консультации по будням с 10:30 до 19:30 GMT</p>
         </div>
         <div class="footer__box-2">
            <img class="footer__test-img" src="/img/png/footet__test.png" alt="Уровни экзаменов английского языка" width="280" height="47" />
            <nav class="footer__nav">
               <ul class="footer__nav-list">
                  <li><a class="footer__link" href="/oferta">Публичная оферта</a></li>
                  <li><a class="footer__link" href="/privacy">Политика конфиденциальности</a></li>
                  <li><a class="footer__link" href="/cookie">Политика файлов cookie</a></li>
               </ul>
            </nav>
         </div>
      </div>
      <hr class="footer__separator" />
      <div class="footer__copyright">
         <p class="footer__copy">© Все права защищены. Журавлев Вячеслав. 2020—2022</p>
         <img class="footer__payment" src="/img/png/footer__payment.png" alt="Платежные методы" width="280" height="27" />
      </div>
   </div>
</footer>
