.section-7 {
   margin-bottom: 50px;
}

.section-7__content {
   position: relative;
   height: 100%;
   padding-top: 15px;
   border-radius: var(--radius);
   background-color: var(--color_base);
}
.section-7__text-box {
   display: flex;
   flex-flow: column;
   gap: 15px;
   margin-bottom: 30px;
   padding: 0 15px;
}
.section-7__form-box {
   width: 100%;
   padding: 20px 15px;
   border-radius: var(--radius);
   background-color: var( --color_primary);
}



.section-7__title-form {
   margin-bottom: 30px;
   text-align: center;
   color: var(--color_base);
}
.section-7__form {
   display: flex;
   flex-flow: column;
   gap: 20px;
}
.section-7__input {
   box-sizing: border-box;
   height: 50px;
   padding: 0px 15px !important;
   font: 400 15px/1.5 'Roboto';
   color: var(--color_grey);
   border-radius: var(--radius);
   background-color: var(--color_baground);
}
.section-7__input:focus {
   background-color: #fff;
   border: 0px solid transparent;
   outline: 0;
   color: var(--color_primary);
}
.section-7__input:focus::placeholder{
   color: var(--color_primary);
}


@media (min-width: 576px) {
   .section-7__content {
      padding-top: 20px;
   }
   .section-7__text-box {
      padding: 0 20px;
   }
   .section-7__form-box {
      padding: 20px;
   }
}

@media (min-width: 992px) {
   .section-7 {
      margin-bottom: 100px;
   }
   .section-7__content {
      display: flex;
      padding-top: 0px;
   }
   .section-7__text-box {
      flex: 1 0 50%;
      padding: 30px;
   }
   .section-7__form-box {
      flex: 1 0 50%;
      padding: 30px;
   }
}