.doc-main {
   max-width: 1160px;
   margin: 0 auto;
}
.doc-header {
   margin: 30px 0;
}
.doc-section {
   margin-bottom: 30px;
}

.doc-title {
   font: 700 25px/1.5 "Roboto";
   color: var(--color_primary);
}
.doc-title-2 {
   margin-bottom: 10px;
   font: 600 16px/1.5 "Roboto";
   color: var(--color_primary);
}
.doc-paragraf {
   font: 400 16px/1.5 "Roboto";
   color: var(--color_primary);
   margin-bottom: 5px;
}

.doc-paragraf-list,
.doc-paragraf-list__item {
   list-style-type: disc;
   margin-left: 15px;
}
.doc-paragraf-list {
   margin-bottom: 30px;
}

.doc-footer {
   width: 100%;
   height: 80px;
}